<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="../script/gallery.js"></script>
</head>

<body>
    <a href="../novi.html"><img id="headerimg" src="../assets/banner.JPG" alt=""></a>
    <div class="wrapper">
        <header><img src="" alt="" /></header>
        <tag></tag>
        <tag />
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="transportation.html">Transportation</a></li>
                <li><a href="toursandoffers.html">Tours and Offers</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <h1 class="main-title">Gallery</h1>
        <img src="rome.hmtl.webp" alt="">

        <section class="carousel">
            <div class="carousel-container">
                <div class="carousel-item">
                    <img src="../assets/cities/2.webp" alt="Image 2">
                    <h2>Porto, Portugal</h2>
                    <p>Before you start writing angry emails about us not including Lisbon in this list, hear us out:
                        Portugal's second city is having a serious moment. Oenophiles have been in on the secret for
                        years, but creative types have been flocking to Porto lately, thanks to the city's stunning
                        architecture (yes, there are lots of tiles) and public art. </p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/3.webp" alt="Image 3">
                    <h2>Bern, Switzerland</h2>
                    <p>Bern is more than the political center of Switzerland—it also happens to be one of the prettiest
                        spots in the entire country. Built around the Aare River, the city has gorgeous views from
                        nearly every angle, including the covered walkways and charming Old City (a UNESCO World
                        Heritage Site). Make sure to stop by Bern Münster (Bern Cathedral) and the famous 13th-century
                        Zytglogge (clock tower)</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/4.webp" alt="Image 1">
                    <h2>Florence, Italy</h2>
                    <p>Italy has no shortage of beautiful cities, but Florence remains unrivaled in history, art, and
                        architecture. You'll find traces of Renaissance aesthetics all over town (this is the birthplace
                        of the 14th-century movement, after all), like the striking Santa Maria del Fiore (The Duomo)
                        and Basilica of Santa Maria Novella.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/5.webp" alt="Image 2">
                    <h2>Bruges, Belgium</h2>
                    <p>With its peaceful, tree-lined canals and cobblestone streets, it's easy to see Bruges as one big
                        fairytale setting come to life. Much of the city's charm lies in its immaculately preserved old
                        city, built between the 12th and 15th centuries; grab a seat at a cafe near the Markt (the
                        historic center square), and plan to linger for the better part of a day.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/6.webp" alt="Image 3">
                    <h2>Budapest, Hungary </h2>
                    <p>With some of the best Art Nouveau architecture in Europe, Budapest has few bad angles. Case in
                        point: The city's famous thermal baths, or the gilded, slightly ostentatious Café Gerbeaud. For
                        the very best angle, though, walk the Széchenyi Chain Bridge at night for unforgettable views of
                        the Hungarian Parliament shining over the Danube River.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/7.webp" alt="Image 1">
                    <h2>Edinburgh, Scotland </h2>
                    <p>Beloved for its endless green hills and fascinating history, Edinburgh looks great in all
                        seasons. Aside from its beautiful Gothic buildings, cobblestoned Royal Mile, and 12th-century
                        castle keeping watch on a hilltop, it also happens to have an extinct volcano within its
                        parameters</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/8.webp" alt="Image 2">
                    <h2>Innsbruck, Austria</h2>
                    <p>Surrounded by ski slopes during the winter and mountainous hiking trails during the summer,
                        Innsbruck is the place for adventurous travelers. But Tyrol's capital city is more than just a
                        place to sleep between exploring the hills—its museums, medieval old town, and Alpenzoo (the
                        highest-altitude zoo in all of Europe) are all well-worth a visit.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/9.webp" alt="Image 3">
                    <h2>Bergen, Norway</h2>
                    <p>No trip to Norway is complete without a stop in Bergen, the country's second-most populated city.
                        The postcard-perfect town has all the makings of an idyllic Nordic village: scenic harbor,
                        colorful rows of wooden houses, and sweeping views of the surrounding fjords and mountain group
                        (known as the Seven Mountains).</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/10.webp" alt="Image 1">
                    <h2>Paris, France</h2>
                    <p>This one's a given: Paris is a place where romance and history play side by side. Cafés line
                        cobblestone streets, beautiful people stroll along the Seine at all hours, and every
                        neighborhood seems to have its own iconic landmark, be it the Notre-Dame, Sacré Coeur, or Eiffel
                        Tower. </p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/11.webp" alt="Image 2">
                    <h2>Istanbul, Turkey</h2>
                    <p>Istanbul continues to draw us in, whether it's through the fevered energy of the Grand Bazaar or
                        the old-meets-new aesthetic of Karaköy. But the architecture still shines brightest here, with
                        the Blue Mosque and Hagia Sophia featuring prominent displays of both Byzantine and Ottoman
                        styles: Think massive domes, colored mosaics, minarets, and Islamic calligraphy.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/12.webp" alt="Image 3">
                    <h2>Ljubljana, Slovenia </h2>
                    <p>Slovenia's capital city is as romantic and charming as they come—and clean, having been named the
                        “Green Capital of Europe 2016” by the European Commission. Stroll through the pedestrian-only
                        Old Town, sip coffee by the leafy banks of the Ljubljanica River, or take in the baroque
                        architecture and hilltop sixteenth-century Ljubljana Castle.</p>
                </div>
                <div class="carousel-item">
                    <img src="../assets/cities/1.webp" alt="Image 1">
                    <h2>Prague, Czech Republic</h2>
                    <p>Consistently voted one of the best cities in the world, the Czech capital is filled with striking
                        architecture, hilltop views, and charming markets. Pro tip: Head to the Old Town between 6 a.m.
                        and 7 a.m. (before the rest of the tourists wake up), when the city has magical atmosphere and a
                        sense of anticipation hangs in the air.</p>
                </div>
            </div>
            <button class="prev-button">&#10094;</button>
            <button class="next-button">&#10095;</button>
        </section>

    </div>
</body>

</html>