<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <a href="../novi.html"><img id="headerimg" src="../assets/banner.JPG" alt=""></a>
    <div class="wrapper">
        <header><img src="" alt="" /></header>
        <tag></tag>
        <tag />
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="transportation.html">Transportation</a></li>
                <li><a href="toursandoffers.html">Tours and Offers</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <h1 class="main-title">Tours and Offers</h1>
    </div>
</body>

</html>