<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <a href="../novi.html"><img id="headerimg" src="../assets/banner.JPG" alt=""></a>
    <div class="wrapper">
        <header><img src="" alt="" /></header>
        <tag></tag>
        <tag />
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="transportation.html">Transportation</a></li>
                <li><a href="toursandoffers.html">Tours and Offers</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <h1 class="main-title">Transportation</h1>
        <section class="transportation">
            <div class="transportation-item">
                <img src="../assets/travelling.png" class="transport-icon" alt="Flight Icon">
                <h3>Flights</h3>
                <p>Find and book flights to your destination.</p>
            </div>
            <div class="transportation-item">
                <img src="../assets/train.png" class="transport-icon" alt="Train Icon">
                <h3>Trains</h3>
                <p>Explore train routes and schedules for convenient travel.</p>
            </div>
            <div class="transportation-item">
                <img src="../assets/bus.png" class="transport-icon" alt="Bus Icon">
                <h3>Buses</h3>
                <p>Discover bus services for local and long-distance travel.</p>
            </div>
            <div class="transportation-item">
                <img src="../assets/car-rent.png" class="transport-icon" alt="Car Rental Icon">
                <h3>Car Rentals</h3>
                <p>Rent a car for flexibility and freedom during your trip.</p>
            </div>
        </section>
    </div>
</body>

</html>